.level-editor-container {
  display: flex;
  flex-direction: column;
}

.level-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.level-editor-flex {
  display: flex;
  justify-content: center;
}

.level-editor {
  margin-top: 10px;
  width: 80vw;
  height: 80vh;
}

.save-level-container {
  margin: 10px;
}

.save-level-button {
  background: rgb(33, 155, 58);
  color: white;
  height: 30px;
}
