.workspace-project-card {
  width: 400px;
  margin: 0 auto;
}

mat-card {
  background: rgb(57, 71, 82);
  color: white;
  border: 1px solid grey;
  font-size: 12px;
}

mat-card:hover {
  cursor: pointer;
}

mat-card-title {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  color: rgb(124, 26, 26);
}

.delete-button:hover {
  color: rgb(245, 49, 49);
}
