<div class="class-editor-container" *ngIf="elementClass">
  <div class="class-name">
    {{ elementClass.representation }} - {{ elementClass.className }}
    <div class="save-element-container">
      <a (click)="onClickSaveElement()" mat-fab extended class="save-element-button">
        <mat-icon>save</mat-icon>
        Save
      </a>
    </div>
  </div>
  <div class="class-editor-flex">
    <code-editor class="class-editor" theme="dark" [languages]="languages" language="java"
                 [(ngModel)]="elementClass.content"></code-editor>
  </div>
</div>
