.sidebar {
  background: rgb(57, 71, 82);
  width: 200px;
  height: 100vh;
}

.name {
  margin: 10px;
  color: rgb(165, 181, 197);
  cursor: pointer;
}

.name:hover {
  color: rgb(101, 108, 121);
}

.add-button-container {
  margin: 10px;
}

.add-button {
  background: rgb(33, 155, 58);
  color: white;
  height: 30px;
}
