<div class="sidebar">
  <mat-tab-group>
    <mat-tab label="Levels">
      <div (click)="onClickLevel(level)" class="name" *ngFor="let level of projectResources.levels">
        {{ level.name }}
      </div>
    </mat-tab>
    <mat-tab label="Elements">
      <div (click)="onClickElementClass(elementClass)" class="name" *ngFor="let elementClass of projectResources.elementClasses">
       {{elementClass.representation}} - {{ elementClass.className }}
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
