<div *ngIf="project" class="project-sidebar">
  <div *ngIf="projectResources">
    <app-sidebar [projectResources]="projectResources"></app-sidebar>
  </div>
  <div class="project-container">
    <div class="project-title">
      {{ project.name }}
      <a (click)="onClickBuildProject()" mat-fab extended
         [ngClass]="{'button-color': !building,'building-color': building}">
        <span *ngIf="!building">
          Build Project
        </span>
        <span *ngIf="building">
          Building...
        </span>
      </a>
      <a (click)="onClickDownloadJar()" mat-fab extended
         class="button-color">
        Download .jar
      </a>
    </div>
    <div *ngIf="selectedEvent">
      <app-level-editor *ngIf="selectedEvent.type === ResourcesTypes.Level"
                        [level]="selectedEvent.level!" [project]="project">
      </app-level-editor>
      <app-element-class-editor *ngIf="selectedEvent.type === ResourcesTypes.ElementClass"
                                [elementClass]="selectedEvent.elementClass!" [project]="project">
      </app-element-class-editor>
    </div>
  </div>
</div>
